# Convert Mesh Ontology from BioPortal to node and relationship files

In [1]:
import os
from pathlib import Path
import pandas as pd
from utils import parse_bioportal_csv

In [2]:
# reload modules before executing user code
%load_ext autoreload
%autoreload 2

In [3]:
pd.options.display.max_rows = None  # display all rows
pd.options.display.max_columns = None  # display all columsns

In [4]:
NODE_DIR = Path(os.getenv('NODE_DIR', default='./'))
RELATIONSHIP_DIR = Path(os.getenv('RELATIONSHIP_DIR', default='./'))

## Configure Ontology download

Specify the CSV Download URL from [BioPortal](https://bioportal.bioontology.org/).

In [5]:
ontology_url = 'https://data.bioontology.org/ontologies/MESH/download?apikey=8b5b7825-538d-40e0-9e9e-5ab9274a9aeb&download_format=csv'

Specify extra columns to be imported from the CSV file. The map specifies the mapping of the original column names to new column names to be used as node properties. Use the following the Neo4j convention for property names: lower-case, using underscore to separate words.

In [6]:
extra_properties = {}
# TODO link top level MeSH Categories to MeSH terms (see: https://meshb.nlm.nih.gov/treeView)
# Example: http://purl.bioontology.org/ontology/MESH/U000002, Anatomy (MeSH Category) should be linked to MeSH tree numbers: A01 .. A21.
# Tree number can be extracted from MN column: extra_properties = {'MN':'tree_number'}

Browse the Identifiers.org [registry](https://registry.identifiers.org/registry) to find curie (compact uri) for a data resource.

In [7]:
curie = 'mesh'

Specify the file names for the node and relationship files.

In [8]:
node_file_name = 'DataCategory.csv'
relationship_file_name = 'DataCategory_ISA_DataCategory.csv'

## Parse ontology file and create node and relationship dataframes

In [9]:
nodes, relationships = parse_bioportal_csv(ontology_url, extra_properties, curie)

In [10]:
nodes.head()

,id,name,synonyms,definition,url
0,mesh:C000659400,Acaulospora ignota,,,http://purl.bioontology.org/ontology/MESH/C000...
1,mesh:C000624633,technetium 99m hydroxyethylene-diphosphonate,99mTc-HDP|99mTc-hydroxyethylene-diphosphonate,,http://purl.bioontology.org/ontology/MESH/C000...
2,mesh:C585345,"Tardbp protein, zebrafish","Tardbpl-FL protein, zebrafish|Tardbpl protein,...",,http://purl.bioontology.org/ontology/MESH/C585345
3,mesh:C000623720,Autographa californica multiple nuclear polyhe...,Trichoplusia ni multiple nucleopolyhedrovirus|...,,http://purl.bioontology.org/ontology/MESH/C000...
4,mesh:C000644313,Leeuwenhoekiella blandensis,,,http://purl.bioontology.org/ontology/MESH/C000...

In [11]:
relationships.head()

            from            to
26  mesh:D014437  mesh:D012282
44  mesh:D019074  mesh:D001158
82  mesh:D006371  mesh:D005741
83  mesh:D054881  mesh:D012732
83  mesh:D054881  mesh:D011859

## Save files

In [12]:
nodes.to_csv(NODE_DIR / node_file_name, index=False)

In [13]:
relationships.to_csv(RELATIONSHIP_DIR / relationship_file_name, index=False)